TELEGRAM_BOT_TOKEN=put_your_bot_token_here
AIRTABLE_TOKEN=put_your_airtable_token_here
AIRTABLE_BASE_ID=put_your_base_id_here
BOT_LANGUAGE=ar
TIMEZONE_NAME=Africa/Cairo

TABLE_PROGRAM=Program
TABLE_EXERCISE=Exercise_Catalog
TABLE_VIDEOS=Videos
TABLE_SUBS=Substitutions
TABLE_WARMUP=Warmup
TABLE_LOG=Log
